body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Helvetica', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #f06363;
}
::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: #ffe1b1;
}

::selection {
    color: black;
    background: #ffe1b1;
}
h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h4 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
h5 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
/* * {
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
} */
.page {
    width: 21cm;
    height: 29.7cm;
    margin: 1cm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.vorlage_deckblatt {
    background: linear-gradient(to right, #363636 7%, #ffffff 7%, #ffffff 12%, #363636 12%, #363636 88%, #ffffff 88%, #ffffff 93%, #363636 93%);
    height: 29.7cm;
    width: 118px;
}
.vorlage_cv {
    background: linear-gradient(to right, #363636 3%, #ffffff 3%, #ffffff 5.6%, #363636 5.6%, #363636 94%, #ffffff 94%, #ffffff 96.6%, #363636 96.6%);
    height: 29.7cm;
    width: 255px;
}
.content_deckblatt {
    padding-left: 335px;
    text-align: center;
}
.deckblatt_foto {
    margin-top: 96px;
    width: 212px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.deckblatt_header {
    width: 300px;
    text-align: center;
    margin-left: -44px;
}
.deckblatt_datum {
    padding-top: 150px;
    width: 300px;
    margin-left: -44px;
}
.deckblatt_kontaktInfo {
    padding-top: 300px;
    width: 300px;
    margin-left: -44px;
}
.cv_personlichesBlock {
    width: 249px;

    position: absolute;
    padding-top: 50px;
}
.cv_sprachenBlock {
    width: 249px;
    margin: 0 auto;
    position: absolute;
    padding-top: 310px;
}
.cv_kontaktBlock {
    width: 249px;
    position: absolute;
    padding-top: 740px;
}
.info_block_Header {
    text-align: center;
    color: #7e6132;
    margin-left: 10px;
    padding-bottom: 20px;
}
.info_block_beschriftung {
    text-align: center;
    color: #727272;
    padding-top: 5px;
    margin-left: 5px;
}
.info_block_text {
    text-align: center;
    color: #ffffff;
    margin-left: 5px;
    padding-bottom: 5px;
}
.info_block_text a {
    text-align: center;
    color: #ffffff;
    margin-left: 5px;
}
.info_block_text a:hover {
    color: #f06363;
}
.line1 {
    padding-top: 50px;
    margin: 0 auto;
    width: 200px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.line2 {
    padding-top: 50px;
    margin: 0 auto;
    width: 200px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.line3 {
    padding-top: 5px;
    margin-bottom: 0px;
    width: 520px;
    border-bottom: 1.8px solid #363636;
}

/* START - Sprachen percentage circle CSS*/
.sprachen_wrapper1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-left: 5px;
}
.sprachen_wrapper2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-left: 5px;
}
.single-chart {
    width: 38%;
    margin: 7px;
    justify-content: space-around;
}
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
}
.circle-bg {
    fill: none;
    stroke: #595959;
    stroke-width: 2;
}
.circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 20s ease-out forwards;
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.circular-chart.orange .circle {
    stroke: white;
}
.circular-chart.green .circle {
    stroke: white;
}
.circular-chart.blue .circle {
    stroke: white;
}
.percentage {
    fill: #d7d7d7;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}
/* END- Sprachen percentage circle CSS*/

.phone_img {
    width: 30px;
    height: auto;
    margin-left: 10px;
    padding-bottom: 5px;
}

.mail_img {
    width: 30px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.instagram_img {
    width: 30px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.location_img {
    width: 30px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.btn_print_container {
    width: 100%;
    max-width: 1090px;
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 2;
}

.btn_print {
    margin: 20px;
    width: 90px;
    height: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(178, 178, 178);
    border: none;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    opacity: 85%;
    border-radius: 50%;
    float: right;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 6px;
}

.btn_print:hover {
    background-color: #28ae79;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn_print:active {
    background-color: #15704c;
}

.mobile {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    padding-top: 3px;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        height: 29.6cm;
        min-height: initial;
        max-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .btn_print {
        display: none !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn_print_container {
        width: 100%;
        max-width: 1090px;
        position: fixed;
        left: 50%;
        bottom: 1%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .btn_print {
        margin: 20px;
        width: 160px;
        height: 160px;
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: rgb(178, 178, 178);
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        opacity: 85%;
        border-radius: 50%;
        float: right;
        letter-spacing: 1px;
        font-weight: bold;
        padding-bottom: 12px;
    }
    .mobile {
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
