body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Helvetica', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(148, 83, 81);
}
::-moz-selection { /* Code for Firefox */
    color: rgb(219, 219, 219);
    background: rgb(148, 83, 81);
  }
  
  ::selection {
    color: rgb(219, 219, 219);
    background: rgb(148, 83, 81);
  }
h1{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h3{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h4{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
h5{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h6{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.vorlage_deckblatt {
    background: linear-gradient(to right, 
    #363636 7%, #FFFFFF 7%, #FFFFFF 12%, #363636 12%,  #363636 88%, #FFFFFF 88%, #FFFFFF 93%, #363636 93%); 
    height: 29.68cm;
    width: 118px;
}
.vorlage_cv {
    background: linear-gradient(to right, 
    #363636 3%, #FFFFFF 3%, #FFFFFF 5.6%, #363636 5.6%,  #363636 94%, #FFFFFF 94%, #FFFFFF 96.6%, #363636 96.6%); 
    height: 29.68cm;
    width: 255px;
}
.content_deckblatt{
    padding-left: 270px;
}
.deckblatt_foto{
    padding-top: 96px;
    width: 212px;
    height: auto;
    margin-bottom: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.deckblatt_header{
    width: 300px;
    text-align: center;
    margin-left: -44px;
}
.deckblatt_datum{
    padding-top: 250px;
    width: 300px;
}
.deckblatt_kontaktInfo{
    padding-top: 200px;
    width: 300px;
}
.cv_kontaktBlock{
    padding-top: 50px;
}
.line{
    margin: 0 auto;
    width: 200px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}